* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
*{
	box-sizing:border-box;
}
body{
	margin:0;
}
img{
	height:50px;
	width:50px;
}
p {
	text-align:center;
}
.heading{
	margin:0;
	color:rgba(29, 40, 55, 1);
}
.text-content{
	line-height:20px;
}
.text-main-content{
	line-height:30px;
	font-size:1.2rem;
}
.spell-info{
	display:flex;
	align-items:stretch;
	align-self:stretch;
	justify-content:center;
	flex-direction:row;
	padding:0px;
	margin:0px;
}
.property-name{
	text-align:center;
	display:flex;
	align-self:stretch;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	border-radius:18px;
	background-color:rgba(249, 192, 118, 1);
	width:119px;
}
.property-window{
	background-color:rgba(255, 229, 194, 1);
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-right-radius:18px;
	border-bottom-left-radius:18px;
	flex-direction:row;
	flex:1 1 0%;
	margin-top:4px;
	margin-right:4px;
	margin-bottom:4px;
	margin-left:4px;
	display:flex;
	align-self:stretch;
	align-items:stretch;
	justify-content:center;
}
.property-row{
	justify-content:flex-end;
	display:flex;
	align-items:center;
	flex-direction:row;
	align-self:stretch;
}
.property-box{
	display:flex;
	flex-direction:row-reverse;
	align-items:center;
	justify-content:center;
	align-content:flex-end;
	flex:1 1 0%;
	align-self:stretch;
}
.property-name-box{
	align-self:center;
	flex:1 1 0%;
	display:flex;
	flex-direction:column;
	align-items:stretch;
	justify-content:center;
}
.grid-column{
	flex:1 1 0%;
	padding:5px 0;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-left:10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-self:stretch;
	align-content:stretch;
}
.grid-row{
	display:flex;
	justify-content:stretch;
	align-items:stretch;
	flex-direction:row;
	min-height:auto;
	padding:10px 0;
}
h1{
	margin-bottom:5px;
	margin-top:15px;
}
#name-column{
	display:flex;
	flex-direction:column;
	padding:0px;
	margin:0px;
}
#base{
	width:408px;
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
	height:700px;
	overflow:hidden;
}
#bgb {
	width: 408px;
	height: 700px;
	overflow: hidden;
}
#background-box {
	background-color: #553b24;
	flex: 0 1 auto;
	align-items: stretch;
	justify-content: flex-start;
	overflow: hidden;
}
#row-1{
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}
#description-box {
	align-content: space-around;
	align-self: auto;
	display: block;
	flex: 0 1 auto;
	overflow: hidden;
	padding: 10px;
	padding-top: 0px;
}
#description-wraper{
	display:flex;
	flex: 0 1 auto;
	align-content: flex-end;
	flex-direction:column;
	overflow:hidden;
}
@media (max-width: 992px){
	.gjs-grid-row{
		flex-direction:column;
	}
}

